body{
    background-color: #ff7300;
}

.main{
    padding: 20px;
}

.form h1{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 30px;
   text-align: center;
   text-decoration: underline;
   font-weight: bold;
   color: black;
   -webkit-text-stroke: 0.5%;
   -webkit-text-stroke-color: black;
}

.form label{ 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 15px;
   font-weight: bold;
   border-radius: 50px;
}

.form input{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    width: 98%;
    height: 30px;
    border-radius: 50px;
}

.table1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    background-color: whitesmoke;
    width: 50%;
    border-radius: 20px;
}

.table2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 50%;
    border-radius: 15px;
}

td{
    border:solid 1px whitesmoke;
    border-radius: 50px;
}

th{
    background-color: #f3f898;
    border-radius: 50px;
    border: 2px solid black;
}

.submitbtn{
    background-color: rgb(37, 168, 65);
    color: white;
    width: 100%;
    border: 1px solid black;
}